@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.calc-title {
  font-size: 3rem;
}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
}

.wage_form_container {
  display: flex;
  width: 47.5%;
  flex-direction: column;
  align-items: center;
}

.wage_form {
  max-width: 900px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
}

.wage_form > fieldset {
  border-radius: 6px;
}

.wage_form > fieldset:nth-child(1) {
  margin-bottom: 40px;
}

.wage_form_group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.wage_form_legend {
  font-size: 1.35rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.wage_form_group > label {
  margin-bottom: 0.5rem;
  font-size: 1.05rem;
}

.wage_form_group > input {
  font-size: 1.125rem;
  max-width: 600px;
  padding: 10px 15px;
  border-radius: 4px;
}

.wage_form_button {
  font-size: 1.5rem;
  width: 100%;
  /* max-width: 600px; */
  padding: 10px 25px;
  margin-top: 15px;
}

.wage_form_button:hover{

}

.wage_results_inactive {
  display: none;
}

.wage_results_active {
  width: 47.5%;
  max-width: 675px;
  display: flex;
  flex-direction: column;
}

.wage_results_title {
}

.results_container {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  padding: 20px 15px;
  vertical-align: middle;
  border-radius: 6px;
  margin-bottom: 40px;
}

.results_container > p {
  font-size: 1.125rem;
}

.results_number {
  font-weight: 700;
}

.initial_title {
  font-size: 1.125rem;
  margin: 5px 10px;
  display: inline-block;
}

#upFrontContainer{
  margin-top: 40px;
}

.results_container_title {
  margin-bottom: 5px;
  width: 37.5%;
  padding: 20px 25px;
  font-size: 1.45rem;
  line-height: 2.6rem;
  margin-top: 0;
  
}

.results_container_title > .results_number{
  font-size: 3rem;
  line-height: 4.5rem;
}

.results_info{
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 360px;
  margin: 0 auto;
}

.results_info > p{
  padding-bottom: 15px;
  border-bottom: 1px solid rgb(162, 162, 162);
  font-size: 1.125rem;
}

.results_info .results_number{
  float: right;
  font-size: 1.3rem;
  border: 1px solid black;
  padding: 4px 12px;
  border-radius: 4px;
}

@media screen and (max-width: 432px){
  .results_info{
    width: 95%;
    max-width: 300px;
  }

  .wage_form{

  }

  .results_info > p{
    display: inline-flex;
    font-size: 1rem;
  }
}

@media screen and (max-width: 900px) {
  .wage_form_container,
  .wage_results_active {
    width: 95%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1297px) {
  .results_container{
    flex-direction: column;
  }

  .results_container_title{
    width: 100%;
  }
}

@media screen and (min-width: 700px) and  (max-width: 899px){
  .results_container{
    flex-direction: row;
  }
  .results_container_title{
    width: 45%;
    padding: 15px;
    margin-right: 10px;
  }

  .results_info{
    width: 100%;
    max-width: 340px;
  }
}
