@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
  box-sizing: border-box;
}

body{
  font-family: 'Noto Sans', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.calc-title{
  font-size: 3rem;
}

.tip_container{
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wage_form{
  width: 95%;
  max-width: 675px;
  padding: 20px;
  border-radius: 4px;
}

.wage_form_group{
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.wage_form_legend{
  font-size: 1.35rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.wage_form_group > label{
  margin-bottom: .5rem;
  font-size: 1.05rem;
}

.wage_form_group > input{
  font-size: 1.125rem;
  max-width: 600px;
  padding: 10px 15px;
  border-radius: 4px;
}

.wage_form_button{
  font-size: 1.5rem;
  width: 90%;
  max-width: 480px;
  padding: 10px 25px;
  margin-top: 15px;
}

.wage_results{
  width: 90%;
  max-width: 675px;
  display: flex;
  flex-direction: column;
}

.wage_results_title{

}

.results_container{

}

.results_container_title{
  
}


